/* 
==============================
Max width media queries
==============================
 */

@media (max-width: 575.98px) {
    .responsive-menu-list {
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .first-menu-item {
        display: flex;
    }

    .menu-toggler {
        display: block;
    }

    .nav-list {
        display: none;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .hero {
        height: 448px;
        /* width: 542px; */
    }

    .right-hero {
        width: 50%;
    }

    .left-hero {
        width: 50%;
    }

    .left-hero {
        padding: 16px;
    }

    .left-hero h3 {
        font: 700 24px / normal YS Display, YS Text, Arial, sans-serif;
    }

    .left-hero p {
        font: 400 15px / 1.53em YS Text, Arial, sans-serif;
    }

    .left-3 {
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    /* 
    =============================
                Hero Section End
    =============================
     */

    .pic {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .left-pic,
    .right-pic {
        height: 304px;
        width: 100%;
        padding: 16px;
    }

    .left-pic h3,
    .right-pic h3 {
        font: 700 32px / normal YS Display, YS Text, Arial, sans-serif;
    }

    .left-pic p,
    .right-pic p {
        font: 500 17px / 1.53em YS Text, Arial, sans-serif;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-menu-list {
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .first-menu-item {
        display: flex;
    }

    .menu-toggler {
        display: block;
    }

    .nav-list {
        display: none;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .hero {
        height: 448px;
    }

    .right-hero {
        width: 50%;
    }

    .left-hero {
        width: 50%;
    }

    .left-hero {
        padding: 16px;
    }

    .left-hero h3 {
        font: 700 32px / normal YS Display, YS Text, Arial, sans-serif;
    }

    .left-hero p {
        font: 400 17px / 1.53em YS Text, Arial, sans-serif;
    }

    .left-3 {
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    /* 
    =============================
            pic Section Start
    =============================
     */

    .pic {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .left-pic,
    .right-pic {
        height: 304px;
        width: 100%;
        padding: 16px;
    }

    .left-pic h3,
    .right-pic h3 {
        font: 700 32px / normal YS Display, YS Text, Arial, sans-serif;
    }

    .left-pic p,
    .right-pic p {
        font: 500 17px / 1.53em YS Text, Arial, sans-serif;
    }

    /* 
        =================================
            footer section
        =================================
         */

    .footer {
        flex-wrap: wrap;
    }

    .left-footer {
        width: 100%;
        height: fit-content;
        padding: 32px 24px 0px;
    }

    .left-footer::after {
        content: "";
        height: 100%;
        border-right: 1px solid #c4c2be;
        position: absolute;
        right: 0;
        top: 32px;
        display: none;
    }

    .left-footer ul li {
        font: 700 20px / 26px YS Text, Arial, sans-serif;
    }

    .middle-footer {
        width: 100%;
        height: fit-content;
        padding: 24px 24px 0px 24px;
        padding-bottom: 32px;
        border-bottom: 1px solid #c4c2be;
    }

    .middle-footer .footer-yango {
        font: 700 20px / 26px YS Text, Arial, sans-serif;
    }

    .middle-footer::after {
        display: none;
    }

    .middle-footer::before {
        display: none;
    }

    .right-footer {
        width: 100%;
        display: flex;
        justify-content: start;
        height: fit-content;
        flex-direction: column;
        align-items: start;
        padding: 32px 24px;
    }

    .right-footer * {
        text-align: left;
    }

    .finland button,
    .english button {
        font: 700 20px / 26px YS Text, Arial, sans-serif;
    }

    .english {
        margin: 24px 0 0 0;
    }

    .right-footer::before {
        display: none;
    }

    .facebook {
        margin-top: 32px;
        width: 100%;
        padding: 32px 0 0 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .facebook div {
        margin-bottom: 8px;
    }

    .facebook::after {
        content: "";
        display: block;
        width: 100%;
        border-top: 1px solid #c4c2be;
        position: absolute;
        top: 0;

    }

    .qr-code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .qr-code p {
        width: 320px;
        text-align: center;
    }

    .row-disclaimer {
        height: fit-content;
    }

    .disclaimer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0 24px 40px;
    }

    .disclaimer-left {
        margin-bottom: 48px;
    }

    .disclaimer-middle {
        margin: auto;
    }

    .disclaimer-middle a {
        margin: 0px 8px;
    }

    .disclaimer-right {
        margin: 8px 16px 0;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .responsive-menu-list {
        width: 767px;
    }

    .menu-toggler {
        display: block;
    }

    .nav-list {
        display: none;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .hero {
        height: 640px;
    }

    .right-hero {
        width: 45%;
    }

    .left-hero {
        width: 55%;
        padding: 32px;
    }

    .left-hero p {
        font: 400 17px / 1.53em YS Text, Arial, sans-serif;
    }

    /* 
    =================================
        footer section
    =================================
     */

    .footer {
        flex-wrap: wrap;
    }

    .left-footer {
        width: 50%;
        height: fit-content;
    }

    .left-footer::after {
        content: "";
        height: 100%;
        border-right: 1px solid #c4c2be;
        position: absolute;
        right: 0;
        top: 32px;
    }

    .middle-footer {
        width: 50%;
        height: fit-content;
    }

    .middle-footer::after {
        height: 100%;
    }

    .middle-footer::before {
        display: none;
    }

    .right-footer {
        width: 100%;
        display: flex;
        justify-content: start;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }

    .right-footer * {
        text-align: center;
    }

    .qr-code {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .qr-code p {
        width: 320px;
    }

    .row-disclaimer {
        height: fit-content;
    }

    .disclaimer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0 24px 40px;
    }

    .disclaimer-left {
        margin-bottom: 48px;
    }

    .disclaimer-middle {
        margin: auto;
    }

    .disclaimer-middle a {
        margin: 0px 8px;
    }

    .disclaimer-right {
        margin: 8px 16px 0;
    }


}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu-toggler {
        display: block;
    }

    .nav-list {
        display: none;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .hero {
        height: 640px;
    }

    .left-hero {
        padding-top: 32px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .responsive-menu-list {
        flex-direction: row;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .left-hero {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}

@media (min-width: 1400px) {
    .responsive-menu-list {
        flex-direction: row;
    }

    /* 
    =============================
        Hero Section
    =============================
     */

    .left-hero {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}